@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
:root {
  --header-color: rgb(29 27 27);
  --header-text: rgb(241, 234, 234);
  --text-color: rgb(247, 247, 247);
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

a {
  cursor: pointer;
  font-size: 1.5rem;
  position: relative;
}

p {
  font-size: 18px;
  line-height: calc(18px * 1.5);
}

a::after {
  content: '';
  position: absolute;
  top: calc(100% + 0.75rem);
  height: 2px;
  width: 0%;
  background-color: var(--text-color);
  left: 50%;
  transform: translateX(0);
  transition: width 200ms ease-in-out, transform 200ms ease-in-out;
}

a:hover::after {
  width: 100%;
  transform: translateX(-50%);
}

.text-block {
  height: 18px;
  margin-bottom: 2rem;
  background-color: var(--text-color);
  width: 90%;
  border-radius: 8px;
  min-width: 36px;
}

.text-block:nth-child(1n) {
  width: 86%;
}
.text-block:nth-child(2n) {
  width: 93%;
}
.text-block:nth-child(3n) {
  width: 75%;
}
.text-block:nth-child(4n) {
  width: 95%;
}
.text-block:nth-child(5n) {
  width: 90%;
}

a .text-block {
  margin-bottom: 0;
}

ol,
ul {
  list-style: none;
}

code {
  background-color: #0f0f0f;
  padding: 1.25rem;
  color: #1cc20d;
  display: inline-block;
  border-radius: 8px;
  font-family: 'Titillium Web', sans-serif;
  height: fit-content;
}

code p {
  font-size: 22xp;
  line-height: calc(22px * 1.55);
}

input {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: 3px #828181 solid;
}

/* input:focus-within {
  border-color: rgb(0, 255, 204);
} */

.super-input {
  --input-color: #dedede;
  --border-color: var(--input-color);
  background-color: var(--input-color);
  color: #101010;

  min-width: 125px;
  padding: 1rem;
  min-height: 55px;
  font-size: 20px;
  line-height: calc(20px * 1.5);
  border: 4px solid var(--border-color);
  border-radius: 16px;
  transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out,
    border-color 200ms ease-in-out, transform 200ms ease-in-out;
  box-shadow: -5px -5px 10px rgb(235, 237, 243, 0.2),
    5px 5px 10px rgb(0, 0, 0, 0.25),
    inset -2px -2px 10px rgb(235, 237, 243, 0.6),
    inset 2px 2px 10px rgb(0, 0, 0, 0.25);
}
.super-input:hover {
  --border-color: rgb(235, 237, 243, 0.3);
  box-shadow: -8px -8px 10px rgb(235, 237, 243, 0.2),
    8px 8px 10px rgb(0, 0, 0, 0.25),
    inset -3px -3px 10px rgb(235, 237, 243, 0.6),
    inset 3px 3px 10px rgb(0, 0, 0, 0.25);
}

.super-input:focus {
  color: rgb(111, 12, 89);
  box-shadow: -1px -1px 10px rgb(235, 237, 243, 0.2),
    1px 1px 10px rgb(0, 0, 0, 0.25),
    inset -2px -2px 10px rgb(235, 237, 243, 0.6),
    inset 2px 2px 10px rgb(0, 0, 0, 0.25);
}
