/* Page Layouts */
.page-grid-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.page-grid-layout:first-child {
  border-right: var(--text-color) solid var(--page-border-width);
}
.page-grid-layout:nth-child(2) {
  border-left: var(--text-color) solid var(--page-border-width);
}

header,
.header,
footer,
.footer {
  background-color: var(--header-color);
  color: var(--header-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header,
.header {
  box-shadow: 0px 5px 10px 3px #3b393933;
  z-index: 1;
  padding: 1.25rem;
}

nav ul,
.nav ul {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  color: inherit;
  min-width: 50%;
}

nav ul li a .text-block,
.nav ul li a .text-block {
  min-width: 80px;
}

main,
.main {
  background-color: #fefefe;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

main aside,
.main .aside {
  background-color: #9b98ed;
  padding: 1.25rem;
}

main section,
.main .section {
  background-color: #6b78c0;
  padding: 1.25rem;
}

footer,
.footer {
  align-items: flex-start;
  min-height: 5rem;
  gap: 2.5rem;
  padding: 2rem 1.25rem;
}

footer *,
.footer * {
  flex: 1;
}
