<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/page-grid-layout.css" />
  </head>

  <body class="page-grid-layout">
    <header>
      <h1>Page</h1>
      <nav>
        <ul>
          <li>
            <a><div class="text-block"></div></a>
          </li>
          <li>
            <a><div class="text-block"></div></a>
          </li>
          <li>
            <a><div class="text-block"></div></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <aside>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
      </aside>
      <section>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
      </section>
    </main>
    <footer>
      <section class="text-block"></section>
      <section>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
      </section>
      <section>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
      </section>
      <section>
        <div class="text-block"></div>
        <div class="text-block"></div>
        <div class="text-block"></div>
      </section>
    </footer>
  </body>
</html>
